.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.egg-info
.venv
venv
.env
.env.local
.env.*.local
.idea
.vscode
*.swp
*.swo
*~
dist
build
.coverage
htmlcov
tests/
docs/
scripts/
systemd/
.dockerignore
Dockerfile
cloudarr.k8s.yaml
README.md
alembic/versions/
